:root {
    --primaryColor: #2C3930;
    --secondaryColor: #3F4F44;
    --thirdColor: #A27B5C;
    --lastColor: #DCD7C9;
    --textWhite: #fff;
    --textDark: #000;
    --itemBorderRadius: .6rem;
    --section-padding: 6rem 0 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* SETTING DEFAULTS */
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
p {
    font-size: 1rem;
    line-height: 1.9rem;
}
h1,h2,h3,h4,h5,h6,p,a {
    color: var(--primaryColor);
}
span {
    color: var(--thirdColor);
}

/* LAYOUT CONTAINER */
.main-container {
    width: 1200px;
    margin: 0 auto;
}
@media screen and (max-width: 1200px) {
    .main-container {
        max-width: 90%;
        margin: 0 auto;
    }
}


/* HEADER AND NAVIGATION */
header {
    padding: .1rem 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .nav-logo-wrapper {
    display: flex;
    align-items: center;
}
header nav .nav-logo-wrapper .nav-name-logo {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}
header nav .nav-menu {
    display: flex;
}
header nav .nav-menu .nav-link {
    display: inline-block;
    white-space: nowrap;
    margin: 0 1.5rem;
}
header nav .nav-menu .nav-list a::after {
    content: "";
    display: block;
    padding-bottom: .15rem;
    border-bottom: .1rem solid var(--primaryColor);
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: 200ms linear;
    -webkit-transition: 200ms linear;
    -moz-transition: 200ms linear;
    -ms-transition: 200ms linear;
    -o-transition: 200ms linear;
}
header nav .nav-menu .nav-list a:hover:after {
    transform: scaleX(.5);
    -webkit-transform: scaleX(.5);
    -moz-transform: scaleX(.5);
    -ms-transform: scaleX(.5);
    -o-transform: scaleX(.5);
}
header nav .nav-menu .nav-list a:hover {
    color: var(--textDark);
}
header nav .nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}
header nav .nav-right .watch-live {
    display: flex;
    align-items: center;
    gap: .5rem;
    box-shadow: 0px 3px 1px rgba(255, 0, 0, 0.406);
    padding: .3rem .7rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
}
header nav .nav-right .watch-live:hover {
    box-shadow: 0px 3px 1px rgba(0, 128, 0, 0.519);
}
header nav .nav-right .watch-live .live-logo {
    color: var(--thirdColor);
    fill: var(--thirdColor);
}
header nav .nav-right .watch-live span {
    white-space: nowrap;
    color: var(--primaryColor);
}
header nav .nav-right .nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .nav-right .search-icon {
    color: var(--primaryColor);
    width: 50px;
    cursor: pointer;
}
header nav .nav-right .hamburger-link {
    display: none;
}
header nav .nav-right .hamburger-link .hamburger-icon {
    width: 35px;
    height: 35px;
}

/* Hero Section */
.hero-section {
    padding: 2rem 0 2rem;
}
.hero-section .banner {
    position: relative;
    background-color: #000;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section .banner img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.5;

}
.hero-section .content-text {
    z-index: 2;
}
.hero-section .banner h3 {
    font-size: 2rem;
    text-align: center;
    color: var(--textWhite);
    z-index: 2;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
    margin: 0 10px;
}
.hero-section .banner h3:last-child {
    letter-spacing: 3px;
    font-weight: 400;
}

.hero-section .quick-links {
    position: relative;
    white-space: nowrap;
    /* border: 1px solid var(--thirdColor); */
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* padding: .5rem 0; */
}
.hero-section .quick-links .quick-title {
    padding: 1rem;
    /* position: sticky; */
    background-color: #fff;
    /* top: 0;
    left: 0; */
}
.hero-section .quick-links .link {
    background-color: #2c393050;
    padding: .5rem 1rem;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}
.hero-section .quick-links .link a:hover {
    color: var(--thirdColor);
}
/* Hero Grid */
.hero-section .grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
                "large-box large-box small-box-1 latest-news-box"
                "large-box large-box small-box-2 latest-news-box";
    height: max-content;
    gap: 1rem;
}
.hero-section .grid div {
    border-radius: var(--itemBorderRadius);
    -webkit-border-radius: var(--itemBorderRadius);
    -moz-border-radius: var(--itemBorderRadius);
    -ms-border-radius: var(--itemBorderRadius);
    -o-border-radius: var(--itemBorderRadius);
    overflow: hidden;
}
.hero-section .grid img {
    width: 100%;
}
.hero-section .grid .grid-text a {
    font-weight: 600;
}
.hero-section .grid .grid-text a:hover {
    text-decoration: underline;
}
.hero-section .grid .large-box {
    grid-area: large-box;
    background-color: #2C3930;
    display: grid;
    align-items: end;
}
.hero-section .grid .large-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1; 
    grid-column: 1/2;
    grid-row: 1/2;
}
.hero-section .grid .large-box .content-learge-box {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 3;
    /* background-color: #A27B5C; */
    padding: 2rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,0) 100%);

}
.hero-section .grid .large-box .content-learge-box a {
    color: var(--textWhite);
    font-size: 2rem;
}
.hero-section .grid .large-box .content-learge-box a:hover{
    text-decoration: underline;
}
.hero-section .grid .large-box .content-learge-box p {
    color: var(--textWhite);
    font-size: .8rem;
}
.hero-section .grid .small-box-1 {
    grid-area: small-box-1;
    /* background-color: #A27B5C; */
}
.hero-section .grid .small-box-2 {
    grid-area: small-box-2;
    /* background-color: aqua; */
}
.hero-section .grid .latest-news-box {
    grid-area: latest-news-box;
    border-radius: 0px;
    /* background-color: #777; */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-top: 4px solid var(--primaryColor);
    border-bottom: 4px solid var(--primaryColor);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    position: relative;
    height: 500px;
}
.hero-section .grid .latest-news-box .head-latest {
    background-color: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    padding-left: 1rem;
}
.hero-section .grid .latest-news-box .latest-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding: 1rem 0;
    padding-left: 1rem;

}
.hero-section .grid .latest-news-box .latest-item .news-name {
    font-size: .8rem;
    font-weight: 600;
}
.hero-section .grid .latest-news-box .latest-item .news-name:hover {
    text-decoration: underline;
}
.hero-section .grid .latest-news-box .latest-item .time {
    font-size: .8rem;
    font-weight: 600;
}

/* TOP 10 SECTION */
.top-news {
    padding: 1rem 0;
}
.top-news .top-wrapper {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
    padding: 2rem;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: var(--itemBorderRadius);
    -webkit-border-radius: var(--itemBorderRadius);
    -moz-border-radius: var(--itemBorderRadius);
    -ms-border-radius: var(--itemBorderRadius);
    -o-border-radius: var(--itemBorderRadius);
    background-color: #fff;
}
.top-news .top-wrapper .card-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 1rem 0;
    gap: 2rem;
    /* background-color: #A27B5C; */
}
.top-news .top-text {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.top-news .top-wrapper .card-item .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 3rem 0; */
}
.top-news .top-wrapper .card-item .card-info .card-top-title {
    font-size: 1.3rem;
    font-weight: 500;
}
.top-news .top-wrapper .card-item .card-info .card-top-title:hover,
.top-news .top-wrapper .card-item .card-info .card-person-write:hover {
    text-decoration: underline;
}
.top-news .top-wrapper .card-item .card-info .like-dislike {
    display: flex;
    gap: 1rem;
}
.top-news .top-wrapper .card-item .card-info .like-dislike .like-icon,
.top-news .top-wrapper .card-item .card-info .like-dislike .dislike-icon {
    width: 20px;
    height: 20px;
    color: var(--primaryColor);
    cursor: pointer;
}
.top-news .top-wrapper .card-item .card-image {
    min-width: 120px;
    height: 120px;
    
}
.top-news .top-wrapper .card-item .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* SPORT SECTION */
.sport-news {
    padding: 2rem 0;
}
.section-title {
    font-size: 2.3rem;
    position: relative;
    margin-bottom: 2rem;
}
.section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #2C3930;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}
.news-pages .news-page .news-banner {
    max-width: 100%;
    height: 290px;
    background-color: grey;
}
.news-pages .news-page .news-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.news-pages .news-page .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}
.news-pages .news-page .grid .news-item {
    position: relative;
}
.news-pages .news-page .grid .news-item .news-img-item {
    height: 150px;
}
.news-pages .news-page .grid .news-item .news-img-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.news-pages .news-page .grid .news-item .news-item-title {
    display: block;
    margin: 0.5rem 0 2rem;
    min-height: 100px;
    font-size: 1.07rem;
    font-weight: 600;
}
.news-pages .news-page .grid .news-item .kategori-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.news-pages .news-page .grid .news-item .kategori-info a {
    font-size: .9rem;
}
.news-pages .news-page .grid .news-item .kategori-info .message-wrapper {
    display: flex;
    gap: .2rem;

}
.news-pages .news-page .grid .news-item .kategori-info .icon-message {
    width: 15px;
    height: 15px;
    fill: var(--secondaryColor);
}

/* ABOUT SECTION */
.about {
    background-color: var(--sectionBackground);
    padding: 6rem 0 2rem;
}
.about .main-container {
    align-items: center;
}
.about .main-container .about-left .about-title {
    text-align: left;
    margin-bottom: 2rem;
}
.about .main-container .about-left .about-paragraph {
    margin-bottom: 1rem;
}
.about .main-container .about-left .education {
    display: flex;
    gap: 2rem;
}
.about .main-container .about-left .education .line {
    padding: 0 .7rem;
}
.about .main-container .about-left .education .line div {
    width: 2px;
    height: 100%;
    background-color: var(--primaryColor);
    position: relative;
}
.about .main-container .about-left .education .line div::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--primaryColor);
    left: -6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about .main-container .about-left .education .education-info .education-title {
    font-weight: 600;
    text-align: left;
}
.about .main-container .about-left .education .education-info .education-title span  {
    font-size: .8rem;
    font-weight: 500;
}
.about .main-container .about-left .education .education-info p {
    margin: 0.2rem 0 1rem;
    font-size: .9rem;
    text-align: left;
}
.about .main-container .about-left .education .education-info .education-years {
    margin-bottom: 2rem;
    font-weight: 500;
    text-align: left;
}
.about .main-container .about-left .education-roadmap {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem auto 2rem;
    text-align: left;
}

/* FOOTER SECTION */
footer {
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
footer a,
footer h4 {
    color: #fff;
}
footer h4{
    font-weight: 500;
}
footer .footer-copyright a {
    font-weight: bold;
}
footer .social-media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
footer .social-media-icon .social-icon {
    width: 35px;
    height: 35px;
}
footer .navigation-footer {
    margin: 1rem 0;

}
footer .navigation-footer .navigation-footer-link {
    display: inline-block;
    border-right: 1.5px solid #fff;
    padding: 0 1rem;
    font-size: 1.2rem;
}
footer .navigation-footer .contact-footer {
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem;
}



/* MEDIA QUERY */
/* Laptop */
@media screen and (max-width: 1366px) {
    html {
        font-size: 90%;
    }
    header nav .nav-menu .nav-link {
        margin: 0 1rem;
    }
    header nav .nav-right {
        gap: 1rem;
    }
}
/* Tablet */
@media screen and (max-width: 1024px) {
    header nav .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--thirdColor);
        width: 100%;
        justify-content: center;
        padding: 5px 0;
        transform-origin: top;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transition: 300ms linear;
        -webkit-transition: 300ms linear;
        -moz-transition: 300ms linear;
        -ms-transition: 300ms linear;
        -o-transition: 300ms linear;
}
    header nav .nav-menu.active {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
}
    header nav .nav-menu .nav-link {
        color: var(--textWhite);
    }
    header nav .nav-right .hamburger-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* HERO GRID LAYOUTS */
    .hero-section .grid {
        grid-template-areas: 
                    "large-box large-box"
                    "large-box large-box"
                    "small-box-1 small-box-2"
                    "latest-news-box latest-news-box";
    }
        /* news section */
    .news-pages .news-page .grid .news-item .news-item-title {
        font-size: 1.5rem;
        margin-bottom: 7rem;
    }
    .news-pages .news-page .grid .news-item .kategori-info a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }
    header nav .nav-right {
        gap: .1rem;
    }
    /* HERO-LAYOUT */
    .hero-section .banner {
        height: 150px;
    }
    .hero-section .banner h3 {
        font-size: 1.5rem;
    }

    /* news section */
    .news-pages .news-page .grid .news-item .news-item-title {
        font-size: 1.9rem;
        margin-bottom: 7rem;
    }
    .news-pages .news-page .grid .news-item .kategori-info a {
        font-size: 1.5rem;
    }
    .news-pages .news-page .news-banner {
        display: none;
    }

}

/* Mobile */
@media screen and (max-width: 450px) {
    html {
        font-size: 75%;
    }
    header nav .nav-right .watch-live {
        display: none;
    }
    header nav .nav-menu .nav-link {
        margin: 0 5px;
    }
    .hero-section .grid .latest-news-box {
        height: 400px;
        font-size: 1.5rem;
    }
    .hero-section .grid .latest-news-box .latest-item .time,
    .hero-section .grid .latest-news-box .latest-item .news-name {
        font-size: 1rem;
    }
    .top-news .top-wrapper .card-item .card-info .card-person-write {
        margin: 1rem 0 .5rem;
    }
    .news-pages .news-page .grid {
        gap: 3rem;
    }
    .news-pages .news-page .grid .news-item .news-item-title {
        font-size: 1.9rem;
        margin-bottom: 4rem;
    }
    footer .navigation-footer .contact-footer,
    footer .navigation-footer .navigation-footer-link {
        font-size: .9rem;
        padding: 0 .8rem 0;
    }
}

/* marquee */
header .market {
    display: flex;
    align-items: center;
    padding: .3rem 0;
}
header .market .mark-item {
    display: inline-block;
    margin: 0 .3rem;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
    border-radius: .5rem;
    padding: .2rem .5rem;
    font-size: .8rem;
}
header .market .mark-item.mark-up span,
header .market .mark-item.mark-up .mark-status {
    color: green;
}
header .market .mark-item.mark-down span,
header .market .mark-item.mark-down .mark-status {
    color: red;
}
header .market .mark-item .mark-status {
    width: 15px;
    height: 15px;
}
